# Web Server & Real-time Communication
flask
flask-socketio
eventlet

# Environment & Infrastructure
python-dotenv
schedule

# Data Science & Math
requests
pandas
numpy
pymysql

# Machine Learning & Deep Learning
scikit-learn
keras
tensorflow
lime

# Visualization & Test
matplotlib
seaborn
pytest